
<div class="container">

  <section class="container-title" >
    <h3 class="title"> PETICIONES DE ORACIÓN</h3>
    <h6 class="container-sub-title">
      <p class="sub-title">
        Creemos en el principio bíblico de orar los unos por los otros.
      </p>
      <p class="sub-title-cite">
        Dejanos tu petición debajo
      </p>
    </h6>
  </section>


  <article class="caja">
    <div class="card">

    </div>
  </article>

  <section class="presentation">
    <div class="bg-center">
      <div class="text">
        Así que recomiendo, ante todo, que se hagan plegarias, oraciones, súplicas y acciones de gracias por todos.
      </div>
      <div class="cita">
        <div class="cita-text">
          1 Timoteo 2:1
        </div>
      </div>
    </div>
  </section>

  <div class="bg-objetivos">
    <div class="objetivos">
      Pedidos de oración
    </div>
  </div>


  <section class="peticion">
    <div class="content-peticion">
      <router-outlet></router-outlet>
    </div>
    <img class="img-peticion"  alt="">
  </section>


  <!-- <section class="btn-peticion">
    <button mat-raised-button
  color="primary" [routerLink]="['list-peticion']">
    ver peticiones de oración
  </button>
  </section> -->



</div>
