.container{

  .title-form{
    padding: 1em 0 0 0;
    // color: #3f51b5;
    color: white;
    h3{
      margin: 0;
      font-family: "Secular One", sans-serif;
      font-weight: 600;
      font-size: 2em;
      justify-self: flex-start;
    }
    hr{
      width: 100%;
    }
  }
  form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: #091540;
    background: rgba(15,76,129,1);

    .field{
      background-color: #f5f5f5;
      font-family: 'Plus Jakarta Sans', sans-serif;
      display: grid;
      width: 70%;
      padding: 1em 2em;
      border-radius: 10px;

      .item{
        display: grid;
        // justify-content: left;
        button{
          width: auto;
        }
      }

      .item-col{
        display: grid;
        grid-template-columns: 1fr 1fr;
      }

      .field-item{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }

      .box-select{
        width: 50%;
        padding-left: 1em;
      }

      .box-input{
        padding-left: 1em;
        width: 60%;
      }

      .box-input2{
        padding-left: 1em;
        width: 80%;
      }

      .radio-group{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1em;
        .radio-button{
          font-family: 'Plus Jakarta Sans', sans-serif;
        }
      }

      .group_checks{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1em;
        row-gap: 1em;
      }

      .form-son{
        background-color: #f5f5f5;

        table{
          tr{
            background-color: #fff;
            border-radius: 10px;
          }
          td{
            padding: 0 .5em;
          }
        }
      }
    }

    .img{
      padding: 0;
    }

    .boton{
      width: 60%;
      justify-self: center;
      margin: 2em;
      background-color: #4062bb;
    }

    .subtitle{
      font-family: 'Plus Jakarta Sans', sans-serif;
      font-weight: 500;
      // font-size: 1.1em;
      color: white;
      display: grid;
      width: 70%;
      padding: 1em 0em;
    }
  }
}





