

.container{
  .one{

    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    .church-header{
      text-align: center;

      .church-post{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2em;
        padding-bottom: 0;
       .church-logo{
        background-image: url('https://res.cloudinary.com/duu9333ux/image/upload/v1681745252/nazarene-logo_3.ico');
        color: #263746;
        opacity: .8;
        width: 150px;
        height: 100px;
        background-position: center center;
        background-size: cover;
        // background-attachment: fixed;
       }
       .church-deno{
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Comfortaa', cursive;
        // padding: 2em;
       }
      }
      .church-name{
        margin: 0;
        font-size: 3em;
        font-weight: 900;
        position: relative;
        font-family: 'Secular One', sans-serif;
        color: #263746;
        padding: 0 1em;
      }
      .church-zone{
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Comfortaa', cursive;
        text-align: center;
      }

    }
    .img-church{
      height: 350px;
      width: 100%;
      border-radius: 10px;

      img{
        object-fit: cover;
        width:100%;
        height:100%;
      }
    }
  }

  .actions{
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;

    .ubication{
      background-color: #263746;
      padding: 1em 2em;
      box-shadow: 0 10px 25px rgba(0,0,0,0.3);
      mat-icon{
        color: #fff;
        font-size: 2em;
      }
      .text{
        color: #fff;
        padding: .5em 1em;
        font-family: "Secular One", sans-serif;
        font-weight: 400;
      }
    }
    .fundation{
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 10px 25px rgba(0,0,0,0.3);

      .funda{
        background-color: #263746;
        color: #fff;
        padding: 1em 2em;
        mat-icon{
          color: #fff;
          font-size: 2em;
        }
        .text{
          color: #fff;
          padding: .5em 1em;
          font-family: "Secular One", sans-serif;
          font-weight: 400;
        }
      }
      .anios{
        background-color: #fff;
        color: #263746;
        display: grid;
        padding: .5em 2em;
        height: auto;
        font-family: "Secular One", sans-serif;

        .text-anio{
          font-size: 3em;

        }
      }
    }
  }

  .church-people{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1em 2em;

    .pastor{
      // width: 50%;
      padding: 1em 2em;
      justify-self: ceter;
      text-align: center;

      .title{
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Comfortaa', cursive;
        padding-bottom: 1em;
      }
      .img-pastor{
        width: 150px;
        height: 150px;
        background-image: url('../../../assets/bgs/header_bg.jpg');
        object-fit: cover;
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
        border-radius: 50%;
        box-shadow: 0 10px 25px rgba(0,0,0,0.3);


      }
      .name-pastor{
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Comfortaa', cursive;
        padding-top: 1em;
      }
    }
    .directiva{
      text-align: center;
      padding: 2em 4em;
      // box-shadow: 0 5px 5px rgba(0,0,0,0.3);
      // border-radius: 10px;
      .title{
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Comfortaa', cursive;
        // padding-bottom: 1em;
      }
      .person{
        padding: 1em;
        .name{
          font-size: 16px;
          font-weight: 500;
          font-family: 'Comfortaa', cursive;
        }
        .subtitle{
          font-size: 12px;
          font-weight: 400;
          font-family: 'Comfortaa', cursive;
          padding-bottom: 1em;
        }
      }
    }
  }

  .schedule{
    .title{
      background-color: #e9edf1;
      text-align: center;
      padding: 1em;
      color: #263746;
      font-size: 16px;
      font-weight: 400;
      font-family: 'Comfortaa', cursive;
    }

    .cards{
      display: flex;
      justify-content: space-around;
      text-align: center;
      padding: 2em;



      .card{
        background-color: #e9edf1;
        text-align: center;
        color: #263746;
        font-size: 16px;
        font-family: 'Comfortaa', cursive;
        padding: 2em 4em;
        border-radius: 10px;

        .culto{
          font-family: "Secular One", sans-serif;
          font-weight: 600;
          padding-bottom: .5em;

        }
        .dia{
          font-weight: 400;
          padding-bottom: .5em;
        }
        .horario{
          font-weight: 300;

        }
      }
    }
  }
}
