<div class="container">

  <section class="one">
    <div class="church-header">
      <div class="church-post">
        <div class="church-logo">
        </div>
        <h5 class="church-deno"> IGLESIA del NAZARENO</h5>
      </div>
      <h3 class="church-name">
        {{ iglesia.nombre }}
        </h3>
      <h5 class="church-zone">
        {{ iglesia.zona }}
      </h5>

      <div class="actions">
        <div class="ubication">
          <!-- <div class="title"> UBICACIÓN </div> -->
          <a href={{iglesia.ubicacion}}><mat-icon> location_on</mat-icon></a>
          <div class="text">
            UBICACIÓN
          </div>
        </div>
        <div class="fundation">
          <!-- <div class="title"> FUNDACIÓN </div> -->
          <mat-icon>today</mat-icon>
          <div class="text">
            {{ iglesia.fundacion }}
          </div>
        </div>
      </div>
    </div>
    <img class="img-church" [src]="imagePath">
  </section>

  <section class="church-people">
    <div class="pastor">
      <div class="title"> PASTOR</div>
      <img class="img-pastor" [src]="imagePathPas" alt="">
      <div class="name-pastor">
        {{ pastorname }}
      </div>
    </div>
    <div class="directiva">
      <div class="title"> DIRECTIVA </div>
      <hr>
      <div class="person">
        <div class="name">
          {{ iglesia.superdni }}
        </div>
        <div class="subtitle">
          SUPERINTENDENTE DNI
        </div>
      </div>
      <div class="person">
        <div class="name">
          {{ iglesia.presijni }}
        </div>
        <div class="subtitle">
          PRESIDENTE JNI
        </div>
      </div>
      <div class="person">
        <div class="name">
          {{ iglesia.presimni }}
        </div>
        <div class="subtitle">
          PRESIDENTE MNI
        </div>
      </div>
    </div>
  </section>

  <section class="schedule">
    <div class="title">
      HORARIOS DE SERVICIO
    </div>
    <div class="cards">
      <div class="card">
        <div class="culto">
          CULTO GENERAL
        </div>
        <div class="dia">
          {{ iglesia.diacentral }}
        </div>
        <div class="horario">
          {{ iglesia.horacentralini | date: 'h:mm a' }} - {{ iglesia.horacentralfin | date: 'h:mm a' }}
        </div>
      </div>

      <div class="card">
        <div class="culto">
          CULTO JNI
        </div>
        <div class="dia">
          {{ iglesia.diajni }}
        </div>
        <div class="horario">
          {{ iglesia.horajniini | date: 'h:mm a' }} - {{ iglesia.horajnifin | date: 'h:mm a' }}
        </div>
      </div>
    </div>
  </section>
</div>
