

  <div class="container">

    <div class="container-btn">
      <button class="btn-float" mat-fab color="primary">
        <mat-icon [routerLink]="['/auth/admipastores/main-lists']">list</mat-icon>
      </button>
    </div>

    <form class="form" [formGroup]="form" (change)="checkForm()" enctype="multipart/form-data">
      <div class="title-form">
        <small>
          Editar Pastor
        </small>
        <hr>
      </div>

      <div class="subtitle">
        <span class="text"> CATEGORIA </span>
      </div>

     <div class="field">
      <mat-radio-group
        class="radio-group"
        formControlName="category"
        (change)="changeValueCategory()"
        >
        <mat-radio-button class="radio-button" *ngFor="let cate of CATEGORIES" [value]=cate>
          {{ cate }}
        </mat-radio-button>
      </mat-radio-group>
    </div>

    <div class="subtitle">
      <span class="text">DATOS PERSONALES </span>
    </div>

    <div class="field">
      <label class="label">Nombre de pastor</label>
      <mat-form-field class="box-input" appearance="outline">
        <input formControlName="name"
              type="text"
              matInput
              placeholder="nombre"
              class="input-text"
              >
          <mat-error>
            El <strong>nombre</strong> es requerido
          </mat-error>
      </mat-form-field>

      <label class="label" *ngIf="form.value.category == 'LOCAL'"> Año de 1ra Licencia local </label>
      <label class="label" *ngIf="form.value.category == 'PRESBITERO'"> Año de ordenación </label>
      <label class="label" *ngIf="form.value.category == 'DISTRITAL'"> Año de 1ra Licencia recibida </label>
      <mat-form-field appearance="outline" class="box-select">
        <mat-select  class="input-select" placeholder="año" formControlName="year" (selectionChange)='checkForm()'>
          <mat-option *ngFor="let gest of YEARS" [value]=gest.anio>
            {{ gest.anio }}
          </mat-option>
        </mat-select>
        <mat-error>
          El <strong>este campo</strong> es requerido
        </mat-error>
      </mat-form-field>


      <label class="label"> Lugar de Membresía </label>
      <mat-radio-group class="radio-group" formControlName="option_places_memb" (change)="clearOtherInputMem()">
        <mat-radio-button class="radio-button" *ngFor="let place of PLACES_MEMB" [value]="place">
          {{place}}
        </mat-radio-button>
      </mat-radio-group>

      <ng-container *ngIf="form.value.option_places_memb == 'IGLESIA'">
        <mat-form-field appearance="outline" class="box-select">
          <mat-label>iglesia</mat-label>
          <mat-select
                      class="input-select"
                      formControlName="membresia"
                      (selectionChange)='checkForm()'
                      >
            <mat-option *ngFor="let iglesia of IGLESIAS" [value]=iglesia >
              {{ iglesia }}
            </mat-option>
          </mat-select>
          <mat-error>
            El <strong>campo</strong> es requerido
          </mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="form.value.option_places_memb == 'OTRO'">
        <mat-form-field appearance="outline" class="box-input">
          <mat-label>especificación</mat-label>
          <input formControlName="membresia"
          type="text"
          matInput
          placeholder="especificacion"
          class="input-text"
          >
          <mat-error>
            El <strong>campo</strong> es requerido
          </mat-error>
        </mat-form-field>
      </ng-container>


      <label class="label">Lugar de servicio ministerial</label>
      <mat-radio-group class="radio-group" formControlName="option_places_serv" (change)="clearOtherInputServ()">
        <mat-radio-button class="radio-button" *ngFor="let place of PLACES_MEMB" [value]="place">
          {{place}}
        </mat-radio-button>
      </mat-radio-group>

      <ng-container *ngIf="form.value.option_places_serv == 'IGLESIA'">
        <mat-form-field appearance="outline" class="box-select">
          <mat-label>iglesia</mat-label>
          <mat-select
                      class="input-select"
                      formControlName="lugardeministerio"
                      (selectionChange)='checkForm()'
                      >
            <mat-option *ngFor="let iglesia of IGLESIAS" [value]=iglesia >
              {{ iglesia }}
            </mat-option>
          </mat-select>
          <mat-error>
            El <strong>campo</strong> es requerido
          </mat-error>
        </mat-form-field>
      </ng-container>

      <ng-container *ngIf="form.value.option_places_serv == 'OTRO'">
        <mat-form-field appearance="outline" class="box-input">
          <mat-label>especificación</mat-label>
          <input formControlName="lugardeministerio"
          type="text"
          matInput
          placeholder="especificacion"
          class="input-text"
          >
          <mat-error>
            El <strong>campo</strong> es requerido
          </mat-error>
        </mat-form-field>
      </ng-container>


      <label class="label"> Área </label>
      <mat-form-field appearance="outline" class="box-select">
        <mat-select  class="input-select" placeholder="area" formControlName="area" (selectionChange)='checkForm()'>
          <mat-option *ngFor="let area of AREAS" value="{{area.area}}">
            {{ area.area }} ({{ area.sigla }})
          </mat-option>
        </mat-select>
        <mat-error>
          El <strong>este campo</strong> es requerido
        </mat-error>
      </mat-form-field>

    </div>

      <ng-container *ngIf="form.value.category == 'PRESBITERO'">
        <div class="subtitle">
          <span class="text">GRADO ACADÉMICO </span>
        </div>
        <div class="field">
          <!-- <label class="label"> GRADO ACADÉMICO </label> -->
          <section class="group_checks" [formGroup]="titulosForm">
            <mat-checkbox formControlName="diploma_ministerial">DIPLOMA MINISTERIAL</mat-checkbox>
            <mat-checkbox formControlName="bachiller_en_teologia">BACHILLER EN TEOLOGÍA</mat-checkbox>
            <mat-checkbox formControlName="licenciatura">LICENCIATURA</mat-checkbox>
            <mat-checkbox formControlName="maestria">MAESTRÍA</mat-checkbox>
            <mat-checkbox formControlName="doctorado">DOCTORADO</mat-checkbox>
          </section>
        </div>
      </ng-container>

      <ng-container *ngIf="form.value.category != 'PRESBITERO'">
        <div class="subtitle">
          <span class="text"> REQUISITOS PARA JUNTA DE CREDENCIALES </span>
        </div>
        <div class="field">
          <section class="group_checks" [formGroup]="requisitosForm">
            <mat-checkbox formControlName="docs_personales">DOCUMENTOS PERSONALES</mat-checkbox>
            <mat-checkbox formControlName="carta_recomendacion">CARTA DE RECOMENDACIÓN</mat-checkbox>
            <mat-checkbox formControlName="certificado_membresia">CERTIFICADO MEMBRESIA</mat-checkbox>
            <mat-checkbox formControlName="otros">OTROS</mat-checkbox>
          </section>
        </div>
      </ng-container>


    <div class="subtitle">
      <span class="text"> IMAGEN ACTUAL </span>
    </div>

    <div class="field">
      <img [src]="image.imagePath" alt="">
    </div>

    <div class="subtitle">
      <span class="text">SELECCIÓN DE IMAGEN </span>
    </div>

    <div class="field">
      <!-- <label class="label"> IMAGEN de PASTOR</label> -->
        <ngx-dropzone (change)="onSelect($event)">
          <ngx-dropzone-label>Arrartrar imagen aquí</ngx-dropzone-label>
          <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" [removable]="true" *ngFor="let f of files" [file]="f" accept="image/jpeg,image/jpg,image/png">
            <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
    </div>


    <button mat-raised-button color="primary"
    class="boton"
    (click)="alertCheckForm()"
    >
    EDITAR</button>

    <div class="btns">

      <ng-container *ngIf="!hasMaterias && (pastor.category == 'DISTRITAL' || pastor.category == 'LOCAL')">
        <button class="boton" mat-raised-button color="primary" [routerLink]="['/auth/admipastores/create-record-pastor/', pastor.id]">AÑADIR RECORD </button>
      </ng-container>

      <ng-container *ngIf="hasMaterias && (pastor.category == 'DISTRITAL' || pastor.category == 'LOCAL')">
        <button mat-button class="titulorecord titulo" [routerLink]="['/auth/admipastores/update-record-pastor/', pastor.id]">EDITAR RECORD ACADÉMICO</button>
      </ng-container>

      <button class="boton" mat-raised-button color="info" (click)="generaPDF()"> generar boleta </button>
    </div>


    </form>


  </div>


  <!-- <div style="display: none" > -->
    <div>


    <div id="content1" #content1 >
      <div class="title">
        <span>IGLESIA del NAZARENO</span>
        <img class="title-img">
        <span>DISTRITO LA PAZ</span>
      </div>
      <div class="title-record">
        <span>
          BOLETA DE PASTOR
        </span>
      </div>

      <div class="date">
        <span class="text"> Fecha de emisión: {{ dateReport | date: 'M/d/yy, h:mm a' }} </span>
      </div>

      <hr>

      <div class="subtitle">
        <span class="text">DATOS PERSONALES </span>
      </div>
      <div class="content-record">

        <div class="detail-record">
          <div class="fila">
            <label>Nombre:</label>
            <span>{{ pastor.name | uppercase }} </span>
          </div>

          <div class="fila">
            <label>Categoria:</label>
            <span>{{ pastor.category | uppercase }}</span>
          </div>

          <div class="fila">
            <label>Area:</label>
            <span>{{ pastor.area | uppercase }}</span>
          </div>

          <div class="fila">
            <label class="label" *ngIf="form.value.category == 'LOCAL'"> Año de 1ra Licencia Local: </label>
            <label class="label" *ngIf="form.value.category == 'PRESBITERO'"> Año de ordenación: </label>
            <label class="label" *ngIf="form.value.category == 'DISTRITAL'"> Año de 1ra Licencia recibida: </label>
            <span>{{ pastor.year | uppercase  }}</span>
          </div>

          <div class="fila">
            <label class="label"> Lugar de membresía: </label>
            <span>{{ pastor.membresia | uppercase  }}</span>
          </div>

          <div class="fila">
            <label class="label"> Lugar de servicio ministerial: </label>
            <span>{{ pastor.lugardeministerio | uppercase  }}</span>
          </div>
        </div>

        <div class="img-record">
          <img [src]="image.imagePath" alt="">
        </div>
      </div>

        <ng-container *ngIf="pastor.category == 'PRESBITERO'">
          <div class="subtitle">
            <span class="text"> EDUCACIÓN </span>
          </div>
          <div class="container-checks">
            <section class="group_checks" [formGroup]="titulosForm" >
              <mat-checkbox formControlName="diploma_ministerial" >DIPLOMA MINISTERIAL</mat-checkbox>
              <mat-checkbox formControlName="bachiller_en_teologia" >BACHILLER EN TEOLOGÍA</mat-checkbox>
              <mat-checkbox formControlName="licenciatura" >LICENCIATURA</mat-checkbox>
              <mat-checkbox formControlName="maestria" >MAESTRÍA</mat-checkbox>
              <mat-checkbox formControlName="doctorado" >DOCTORADO</mat-checkbox>
            </section>
          </div>
        </ng-container>

        <ng-container *ngIf="form.value.category != 'PRESBITERO'">
          <div class="subtitle">
            <span class="text"> REQUISITOS PARA JUNTA DE CREDENCIALES </span>
          </div>

          <div class="container-checks">
            <section class="group_checks" [formGroup]="requisitosForm">
              <mat-checkbox formControlName="docs_personales"><span>DOCUMENTOS PERSONALES</span></mat-checkbox>
              <mat-checkbox formControlName="carta_recomendacion"><span>CARTA DE RECOMENDACIÓN</span></mat-checkbox>
              <mat-checkbox formControlName="certificado_membresia"><span>CERTIFICADO MEMBRESIA</span></mat-checkbox>
              <mat-checkbox formControlName="otros"><span>OTROS</span></mat-checkbox>
            </section>
          </div>
        </ng-container>

        <ng-container *ngIf="hasMaterias">
        <app-record-pastor [idPas]="pastor.id"></app-record-pastor>
        </ng-container>

      </div>
    </div>
