
<!-- <div class="">
  {{ idchurch }}
  <br>
  {{ church }}
  <br>
  {{ zona }}
  <br>
  {{ idPastor }}
  <br>
  {{ diacentral }}
  <br>
  {{ horacentralini }}
  <br>
  {{ horacentralfin }}
  <br>
  {{ diajni }}
  <br>
  {{ horajniini }}
  <br>
  {{ horajnifin }}
  <br>
  {{ nombrepastor }}
</div> -->

<div class="container" >
  <div class="img">
    <ng-container  class="" *ngIf="imgpathpas">
      <img [src]="imgpathchurch" alt="imagen de iglesia">
    </ng-container>
    <ng-container  class="" *ngIf="!imgpathpas">
      <!-- <mat-spinner></mat-spinner> -->
      <article class="caja">
        <div class="card">

        </div>
      </article>
    </ng-container>
  </div>
  <div class="data-church">
    <div class="data">
      <div class="data-pastor">
        <div class="title">
          PASTOR
        </div>
        <div class="text">
          {{ nombrepastor | uppercase }}
        </div>
      </div>
     <hr>
    <div class="services">
      <div class="title">SERVICIOS</div>
      <div class="general">
        <div class="subtitle">
          CULTO GENERAL
        </div>
        <div class="text">
          {{ diacentral }} | {{ horacentralini | date: 'h:mm a' }} - {{ horacentralfin | date: 'h:mm a' }}
        </div>
      </div>
      <div class="general">
        <div class="subtitle">
          REUNION DE JÓVENES
        </div>
        <div class="text">
          {{ diajni }} | {{ horajniini | date: 'h:mm a' }} - {{ horajnifin | date: 'h:mm a' }}
        </div>
      </div>
    </div>
  </div>
    <div class="more">
      <div class="img-pastor">
        <ng-container  class="" *ngIf="imgpathpas">
          <img id="imgpas" [src]="imgpathpas" alt="imagen de pastor">
        </ng-container>
        <ng-container  class="" *ngIf="!imgpathpas">
          <div class="charging-round"></div>
          <!-- <mat-spinner></mat-spinner> -->
        </ng-container>
      </div>
      <button mat-raised-button
            color="primary"
            (click)="seeMore()">
            VER MÁS
          </button>
    </div>
  </div>
</div>
