mat-toolbar{
  display: grid;
  grid-template-columns: 3% 94% 3%;

  .icon{
    color: #fff;
  }
}

.title-church{
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  line-height: 0em;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

}
