.container{
  background: linear-gradient(180deg, #ffbf69, #ffffffa9), url(../../assets/bgs/bg_admi1.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 2em 4em;
  height: 60vh;
  .title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    .title-img{
      width: 100px;
      color: #03045e;
      opacity: .8;
      content: url("https://res.cloudinary.com/duu9333ux/image/upload/v1680726674/nazarene-logo.png");
    }
    .title-church{
      font-family: 'Allura', cursive;
      color: #03045e;
      font-weight: 500;
      font-size: 32px;
      line-height: 0;
      margin: 0.8em;
    }
    .title-page{
      font-family: "Secular One", sans-serif;
      font-size: 32px;
      color: #03045e;
      margin: 0.8em;
    }
  }

  .content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em;
    .card{
      padding: 2em;
      .subtitle{
        text-align: center;
        // font-family: "Secular One", sans-serif;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 18px;
        color: #03045e;
        margin: 0;
      }
      .text{
        padding: 1em;
        // text-align: ;
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-size: 16px;

      }
      .btn{
        font-family: 'Plus Jakarta Sans', sans-serif;
        font-weight: 500;
        text-align: center;
      }
    }
  }

  .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  .button-back{
    position: absolute;
    top: 2em;
    left: 2em;
  }

  .button-logout{
    position: absolute;
    top: 2em;
    right: 2em;
  }
}


//         &:hover{
//           background: linear-gradient(180deg, #000077, #000077);
//           color: #fff;
//           cursor: pointer;
//         }


//     .card{
//       max-width: 500px;
//       width: 400rem;
//       height: 30rem;
//       background-color: rgba(255, 255, 255, 0.9);
//       position: relative;
//       z-index: 1000;
//       border-radius: .5em;
//       box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
//       opacity: 0.9;

//       &::before {
//         content: "";
//         width: 20%;
//         height: 15%;
//         background:  url(../../assets/logos/nazarene-logo.png);
//         background-size: cover;
//         position: absolute;
//         // top: 0px;
//         right: 5px;
//         bottom: 10px;
//         // left: 0px;
//         opacity: 0.3;
//         z-index: 700;
//         }




// @media screen and (max-width: 1200px) {
//   section{
//     .content{
//       h2{
//         font-size: 2em;
//         line-height: .6em;

//       }
//     }

//     .card{
//       .titulo{
//         padding-top: 1em;
//       }
//     }
//   }
// }

// @media screen and (max-width: 1024px) {
//   section{
//     display: block;
//     .content{
//       h2{
//         font-size: 2em;
//         line-height: .6em;

//       }
//     }
//   }
// }
