
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  .calendar{
    width: 70%;
    padding: 1em;
  }

  .container-select-date{
    display: flex;
    justify-content: space-around;
    align-items: center;
    .select-mount{
      width: 10em;
      background: linear-gradient(180deg, #263746, #263746);
      color: white;
      border-radius: .5em;
      border: none;
      margin: 0 1em;

      &:hover{
        background: #ddd;
        color: #263746;
        cursor: pointer;
      }
      h3{
        padding: 0 1em;
        font-family: 'Comfortaa', cursive;
        font-weight: 200;
      }
    }

    .select-arrow{
      width: 4em;
      height: 4em;
      background: linear-gradient(180deg, #263746, #263746);
      color: white;
      border-radius: .5em;
      border: none;
      &:hover{
        background: #ddd;
        color: #263746;
        cursor: pointer;
      }
    }
  }
}
