<div class="container">

  <div class="bg-title">
    <div class="title">
      Juventud Nazarena Internacional
    </div>
  </div>


  <section class="ministerios">
    <!-- [ngStyle]="{'background-color':min.bgcolor,'color':min.textcolor}" -->
    <div class="card" *ngFor="let min of MINISTERIOS" >
      <img [src]="min.pathLogo" alt="">
      <div class="ministerio" >
        {{ min.nombre }}
      </div>
    </div>

    <!-- <div class="card">
      <div class="ministerio">
        MNI
      </div>
    </div>

    <div class="card">
      <div class="ministerio">
        DNI
      </div>
    </div>

    <div class="card">
      <div class="ministerio">
        Jovenes en Acción
      </div>
    </div>

    <div class="card">
      <div class="ministerio">
        MAM
      </div>
    </div>

    <div class="card">
      <div class="ministerio">
        VID
      </div>
    </div>

    <div class="card">
      <div class="ministerio">
        Comunicaciones
      </div>
    </div>

    <div class="card">
      <div class="ministerio">
        CAFE
      </div>
    </div> -->


  </section>

  <section class="text">
    <div class="img-text">
      <img class="img-jni-text" alt="">
    </div>
    <div class="text-jni">
      La Juventud Nazarena Internacional <b>(JNI) </b> es el grupo
       de jóvenes nazarenos trabajando, divirtiéndose  y
        adorando juntos a Dios. Puede estar tanto en una
         pequeña iglesia, como en una grande, en el campo o
          en la ciudad.  Existe para alcanzar y guiar a los
          jóvenes hacia una relación con Dios que perdure
          toda la vida. Simplemente la <b class="negrita">JNI eres tú!</b>
    </div>
  </section>

  <section class="versiculo">
      <div class="texto">
        Que nadie te menosprecie por ser joven. Al contrario,
        que los creyentes vean en ti un ejemplo a seguir
        en la manera de hablar, en la conducta,
        y en el amor, fe y pureza
      </div>
      <b class="cita">1ra Timoteo 4:12</b>
  </section>

  <section class="roles">
    <div class="role">
      <span class="icon material-icons" style="color: #118ab2;">
        landscape
      </span>
      <div class="title">MISIÓN</div>
      <div class="text">
        <p>La misión de la Juventud Nazarena Internacional (JNI) es llamar a nuestra
          generación a una vida dinámica en Cristo.</p>
      </div>
    </div>

    <div class="role">
      <span class="icon material-icons" style="color: #ffd166;">
        wb_incandescent
      </span>

      <div class="title">VISIÓN</div>
      <div class="text">
        <p>La Iglesia del Nazareno cree que los jóvenes forman una parte integral de la iglesia.
          La JNI existe para guiar a los jóvenes hacia una relación con Cristo que perdure toda la vida
          y para facilitar su crecimiento como discípulos en el servicio cristiano.</p>
      </div>
    </div>
  </section>

  <section class="text">
    <div class="text-jni">
      <div class="title"> NUESTROS MIEMBROS </div>
      <div class="texto ">
        La Iglesia del Nazareno cree que los
        jóvenes forman una parte integral de la iglesia.
      </div>
    </div>
    <div class="img-text">
      <img class="img-jni-text-2" alt="">
    </div>
  </section>


  <div class="bg-objetivos">
    <div class="objetivos">
      VALORES
    </div>
  </div>

  <section class="valors">
      <ol class="list">
        <li class="item">Valoramos a los <b>Jóvenes</b>: personas importantes en el reino de Dios.</li>
        <li class="item">Valoramos la <b>Biblia</b>: la verdad inmutable de Dios para nuestra vida.</li>
        <li class="item">Valoramos la <b>Oración</b>: la comunicación vital interactiva con nuestro Padre celestial.</li>
        <li class="item">Valoramos a la <b>Iglesia</b>: una comunidad de santidad global de fe, diversa en culturas, pero una en Cristo.</li>
        <li class="item">Valoramos la <b>Adoración</b>: encuentros con un Dios íntimo que cambian la vida.</li>
        <li class="item">Valoramos el <b>Discipulado</b>: un estilo de vida de semejanza a Cristo.</li>
        <li class="item">Valoramos a la <b>Comunidad</b>: establecer relaciones que contribuyan a la unión entre nosotros y con Dios.</li>
        <li class="item">Valoramos el <b>Ministerio</b>: extender la gracia de Dios a nuestro mundo.</li>
        <li class="item">Valoramos ser <b>Testigos</b>: compartir el amor de Dios en palabras y hechos.</li>
        <li class="item">Valoramos la <b>Santidad</b>: una obra de gracia en la que Dios, por medio de la obra de su Espíritu Santo,
          nos capacita para tener una vida que represente a Cristo en lo que somos y en todo lo que hacemos.</li>
      </ol>
  </section>

  <section class="versiculo2">
    <div class="texto">
      Todas las actividades, reuniones
      y programas que se realiza como
      ministerio responden a un
      llamado de ser y hacer discípulos
      semejantes a Cristo en las
      naciones. No importa tanto el
      lugar donde se realice el
      ministerio, sino lo que hacemos
      y la razón de hacerlo.
    </div>
  </section>


  <div class="bg-objetivos">
    <div class="objetivos">
      ACTIVIDADES
    </div>
  </div>

  <section class="actividades">
      <ol class="list">
        <li class="item">Taller de capacitación de lideres</li>
        <li class="item">Campamentos locales, zonales y distritales de jóvenes</li>
        <li class="item">Campamentos locales, zonales y distritales de prejuveniles</li>
        <li class="item">Culto de jóvenes </li>
        <li class="item">Retiro de lideres</li>
        <li class="item">Vigilia</li>
        <li class="item">Torneo bíblico</li>
      </ol>
  </section>


