<!-- <div class="wrapper">
  <h2>Angular Image Upload</h2>
  <div class="file-upload">
    <input type="file" name="image" ng2FileSelect [uploader]="uploader" accept="image/x-png,image/gif,image/jpeg" />
    <button type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
      Upload
    </button>
  </div>
</div>


<form enctype="multipart/form-data" (ngSubmit)="uploadImage()">
  <input type="file" name="image" (change)="onFileSelected($event)">
  <button>Save Image</button>
</form> -->


<header>
  <h1> SUBIDA DE IMAGENES CON CLOUDINARY </h1>
</header>

<div class="mainContainer">
  <div class="content">
      <div class="header">
          <h1>Angular File Upload</h1>
      </div>
      <div class="row margin25">

          <div class="col-md-4">

          </div>
          <div class="col-md-4">
              <div class="input-group">
                  <div class="input-group-prepend">
                      <span  class="input-group-text upload"  (click)="upload()"  id="btnUpload">Upload</span>
                  </div>
                  <div class="custom-file">
                      <form action="/api/upload" method="post" enctype="multipart/form-data">
                          <input  (change)="fileChange($event)"  type="file"  class="custom-file-input"  id="inputGroupFile01"  aria-describedby="inputGroupFileAddon01">
                      </form>
                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                  </div>
              </div>
          </div>
          <div class="col-md-4">

          </div>
      </div>
  </div>
</div>

