
.title-component{
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  padding: 1em 0em;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.container{
  padding: 1em 8em;
  box-shadow: 5px 7px 20px -13px rgba(0,0,0,0.75);
  display: flex;
  justify-content: center;
  flex-direction: column;

  table{
    width: 60vw;
  }

  .data-record{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 60vw;
    .data{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}


