.title-component{
  padding: 1em;
  text-align: center;
}

.container{
  padding: 1em 4em;
  box-shadow: 5px 7px 20px -13px rgba(0,0,0,0.75);


  .data-record{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .data{
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}


