
.container{
  .bg-title{
    background-image: url('../../../assets/bgs/bg_iglesias1.jpg');
    width: 100%;
    height: 300px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    background-attachment: fixed;
    padding: 4em;
    text-align: center;
    color: white;

    &:before {
      content:'';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,0.2);
    }

    .title{
      margin: 0;
      font-size: 4em;
      font-weight: 900;
      position: relative;
      font-family: 'Secular One', sans-serif;
    }

    .text-versicle{
      position: relative;
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      font-family: 'Comfortaa', cursive;
      padding: 2em;
      .text-quote{
        margin: 0;
        font-size: 16px;
        font-weight: 200;
        font-family: 'Secular One', sans-serif;
        text-align: end;
        padding: 1em;
      }
    }
  }

  .church{
    position: relative;
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: 50% 50%;

    .block1{
      display: grid;
      grid-template-rows: 60% 20% 20%;

      .church-header{
        justify-self: center;
        align-self: center;


        .church-post{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
         .church-logo{
          background-image: url('https://res.cloudinary.com/duu9333ux/image/upload/v1681745252/nazarene-logo_3.ico');
          color: #263746;
          opacity: .8;
          width: 150px;
          height: 100px;
          background-position: center center;
          background-size: cover;
          // background-attachment: fixed;
         }
         .church-deno{
          margin: 0;
          font-size: 16px;
          font-weight: 500;
          font-family: 'Comfortaa', cursive;
          // padding: 2em;
         }
        }
        .church-name{
          margin: 0;
          font-size: 4em;
          font-weight: 900;
          position: relative;
          font-family: 'Secular One', sans-serif;
          color: #263746;
        }
        .church-zone{
          margin: 0;
          font-size: 16px;
          font-weight: 500;
          font-family: 'Comfortaa', cursive;
          text-align: end;

        }
      }
      .church-actions{
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        .btn{
          transition: all .3s ease;
          width: 60px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;

          mat-icon{
            width: auto;
            font-size: 48px;
            color: #263746;
            line-height: 25px;
          }

          // &:hover{
          //   cursor: pointer;
          //   border-radius: 50%;
          //   box-shadow: 0 10px 25px rgba(0,0,0,0.3);
          // }
        }
      }

      .church-search{
        justify-self: center;
        .search{
          height: 40px;
          display: flex;
          cursor: pointer;
          padding: 10px 20px;
          background-color: #fff;
          border-radius: 30px;
          align-items: center;
          box-shadow: 0 10px 25px rgba(0,0,0,0.3);

          input{
            width: 0;
            outline: none;
            border: none;
            transition: 1s;
            background: transparent;
            width: 240px;

            font-size: 16px;
            font-weight: 500;
            font-family: "Comfortaa", cursive;
          }

          .btn{
            mat-icon{
              font-size: 24px;
            }
          }

          &:hover{
            input{
              width: 240px;
            }
          }
        }
      }
    }


    .block2{
      padding: 2em;

    }

    .wave{
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -10;
    }
  }
}


