

.container{
  padding: 0 4em;

  .title-component{
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    padding: 1em 0em;
    background-color: #f5f5f5;
    border-radius: 10px;
  }

  table{
    width: 100%;
    td{
      height: 2em !important;
      mat-form-field{
        width: 3em;
      }
    }
  }

  .data-record{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .data{
      // width: 50em;
      display: flex;
      justify-content: space-evenly;
      // display: grid;
      // grid-template-columns: 1fr 1fr;
      // justify-content: space-around;

    }
  }

  .bg-boton{
    text-align: center;
    padding: 1em;
    .boton{
      width: 20em;
    }
  }
}
